body {
    background-color: #1f1f1f;
    color: #f0f0f5;
}

pre {
    background-color: #000;
    display: inline-block;
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 20px;
    overflow: hidden;
}

code {
    background-color: #000;
    border-radius: 3px;
    overflow: hidden;
}
/* kbd samp */